/TestImages/*.jpg
/TestImages/*.jpeg
/TestImages/*.png

/TrainImages/0_Recyclable/*.jpg
/TrainImages/0_Recyclable/*.jpeg
/TrainImages/0_Recyclable/*.png

/TrainImages/1_Electronic/*.jpg
/TrainImages/1_Electronic/*.jpeg
/TrainImages/1_Electronic/*.png

/TrainImages/2_Organic/*.jpg
/TrainImages/2_Organic/*.jpeg
/TrainImages/2_Organic/*.png

/TrainImages/*.zip

# Duplicates
/TrainImages/duplicates/exact/0_Recyclable/*
/TrainImages/duplicates/exact/1_Electronic/*
/TrainImages/duplicates/exact/2_Organic/*

/TrainImages/duplicates/near/0_Recyclable/*
/TrainImages/duplicates/near/1_Electronic/*
/TrainImages/duplicates/near/2_Organic/*

/venv
/preprocess/image_output/augmented_images/*
/preprocess/image_output/anomaly/*
/preprocess/image_output/non_anomaly/*

# post-anomaly-audit
/preprocess/post-anomaly-audit/corrupted_report.json
/preprocess/post-anomaly-audit/duplicates_report.json
/preprocess/post-anomaly-audit/class_distribution.png