# test images
/TestImages/*.jpg
/TestImages/*.jpeg
/TestImages/*.png

# Trainingg images
/TrainImages/0_Recyclable/*.jpg
/TrainImages/0_Recyclable/*.jpeg
/TrainImages/0_Recyclable/*.png

/TrainImages/1_Electronic/*.jpg
/TrainImages/1_Electronic/*.jpeg
/TrainImages/1_Electronic/*.png

/TrainImages/2_Organic/*.jpg
/TrainImages/2_Organic/*.jpeg
/TrainImages/2_Organic/*.png

# image outputs


/preprocess/image_output/anomaly/*
/preprocess/image_output/non_anomaly/*

/venv